<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Watch Your Step</title>

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="styles/styles.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Google Maps API -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
</head>

<body>
  <div class="centering-logo">
    <img class="logo" src="images/watchyourstepLogo.png" alt="logo">
    <h2>Watch Your Step</h2>
  </div>

  <!--    Nav Bar    -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        </a>
      </div>
    </nav>



    <div class="container-fluid">
      <div class="row">
        <div id="show-data">
          Map will go here
        </div>

        <button class="btn btn-default" id="new-button">
          <p>+</p>
        </button>

        <div class="modal fade" id="create-incident">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4>Report New Incident</h4>
              </div>
              <div class="modal-body">
                <form id="new-incident">
                  <div class="form-group">
                    <label>Address</label>
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="use-current-btn">Use Current</button>
                      </span>
                      <input type="text" class="form-control" name="address" id="new-address">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Incident</label>
                    <select name="category" id="new-category">
                      <option value="construction">Construction</option>
                      <option value="crime scene">Crime Scene</option>
                      <option value="droppings">Droppings</option>
                      <option value="public event">Public Event</option>
                      <option value="other">Other</option>
                    </select>
                  </div>
                  <input type="submit" class="btn btn-default" value="Create"></input>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="update-incident">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4>View Incident</h4>
              </div>
              <div class="modal-body">
                <form id="update-form">
                  <div class="form-group">
                    <label>Address</label>
                    <span class="show-elements show-address" id="show-address">Sample address text</span>
                    <input type="text" id="edit-address" class="edit-elements form-control" name="address">
                  </div>
                  <div class="form-group">
                    <label>Incident</label>
                    <span class="show-category show-elements" id="show-category">Sample what the incident was</span>
                    <select class="edit-elements" id="edit-category" name="category">
                      <option value="construction">Construction</option>
                      <option value="crime scene">Crime Scene</option>
                      <option value="droppings">Droppings</option>
                      <option value="public event">Public Event</option>
                      <option value="other">Other</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Date</label>
                    <span class="show-date">7/26/17</span>
                  </div>
                  <button type="button" class="show-elements btn btn-default" id="incident-edit-btn">Edit</button>
                  <button type="button" class="show-elements btn btn-default" id="incident-delete-btn">Delete</button>
                  <button type="submit" class="edit-elements btn btn-default">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- closes container -->

  </body>

  </html>
