.centering-logo {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding-top: 35px;
}

.navbar {
  background-color: #f34c44;
  height: 100px;
  position: fixed;
  z-index: 1;
  width: 100%;
  opacity: .6;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 8px;
}

h2 {
  font-size: 25px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  color: white;
  display: inline;
  vertical-align: middle;
}

.edit-elements {
  display: none;
}

#show-data {
  position: absolute;
}

#new-button {
  position: fixed;
  left: 1em;
  bottom: 1em;
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.75em;
  line-height: 1.5em;
  font-size: 40px;
  color: white;
  text-align: center;
  border-color: white;
  background-color: #f34c44;
  padding: 0px;
  letter-spacing: 0px;
  font-weight: bold;
  /*padding-left: 20px;*/
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  background-color: #f34c44;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding-left: 50px;
  padding-top: 20px;
}

.modal-body{
  margin: 30px 35px 40px;
}

label {
  font-size: 12px;
  text-transform: uppercase;
  color: #767676;
  padding-left: 2px;
  padding-right: 5px;
}

.btn {
  background-color: #f34c44;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  padding: 12px 24px;
  margin-right: 5px;
  border-radius: 0;
  border: 0;
  letter-spacing: 0.15em;
}

input:focus {
  border: 1px solid #f34c44 !important;
  box-shadow: 0 0 3px #f34c44  !important;
}

select {
  font-family: Raleway, sans-serif;
  text-transform: lowercase;
  width: 240px;
  height: 34px;
  overflow: hidden;
  border: 1px solid #ccc;
  width: 120px;
}

button > p {
  color: white;
}
