.panel {
  border-color: red;
}

.edit-elements {
  display: none;
}

#show-data {
  height: 550px;
  width: 100%;
}

#new-button {
  position: fixed;
  left: 2em;
  bottom: 2em;
  height: 2em;
  width: 2em;
  border-radius: 1em;
  font-size: 2em;
}
